.avatar {
    width: 150px !important;
}

.username {
    width: 100%;
    margin: 0.5em 0;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: var(--primary-color);
    background-color: rgba(128, 128, 128, 0.171);
}

.username::placeholder {
    font-size: 0.5em;
}

.email {
    font-weight: bold;
}

.bio {
    font-weight: lighter;
    font-size: 0.9em;
    padding: 1em;
}

.actions {
    display: flex;
    gap: 1em;
    width: 100%;
}