/* AuthForm */

.authform_container {
    background-color: white;
    width: clamp(300px, 100vw, 600px);
    padding: 4em 3em;
    border-radius: 1em;
}

.authform_header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    margin-bottom: 2em;
}

.authform_header h1 {
    color: var(--primary-color);
    font-size: 2.8em;
}

.authform_fields,
.authform_field_container {
    display: flex;
    flex-direction: column;
}

.authform_label {
    font-weight: bold;
}

.authform_field {
    border: none;
    background-color: var(--primary-color);
}