/* Dashboard Side Panel */

.container {
    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: clamp(480px, 100vw, 500px);
    font-weight: bold;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    font-size: 1.3em;
    background-color: white;
}

.accordion_actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.accordion_action {
    display: flex;
}

.accordion_indicator {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 1em;
    background-color: var(--primary-color);
}

.accordion_indicator:hover {
    cursor: pointer;
}

.accordion_content {
    background-color: var(--primary-color);
    overflow: hidden;
}

.accordion_item {
    color: white;
    text-align: right;
    padding: 1em;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100vw;
        position: absolute;
        z-index: 1;
    }
}

.closed {
    width: 0;
}

.accordion_closed {
    height: 0;
}