/* Dashboard Side Panel */

.container {
    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: clamp(480px, 100vw, 500px);
    font-weight: bold;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100vw;
        position: absolute;
        z-index: 1;
    }
}

.closed {
    width: 0;
}