@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Global Styling */

:root {
    --primary-color: #D61C4E;
    --background-color: #100720;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* I - Layout */

body {
    background-color: #100720;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5em;
}


/* II - Typography */

body {
    font-family: 'Quicksand' sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}


/* III - Colors */